.Category{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.CategoryName{
    display: flex;
    flex-direction: row;
}

.CategoryLeft{
    flex: 9;
}

.CategoryRight{
    flex: 1;
    font-weight: bold;
}