.Footer{
    width: 100%;
    margin-top: 20px;

    display: flex;
    background-color: #222831;
}

@media screen and (min-width: 600px) {
    .FooterInside{
        margin: 30px;

        width: 100%;
        display: flex;
        flex-direction: row;
    }   
}

@media screen and (max-width: 600px) {
    .FooterInside{
        margin: 30px;
    
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.FooterCopyright{
    width: 100%;
    height: 50px;
    background-color: #1b2029;

    display: flex;
    align-items: center;
}

.FooterCopyrightInside{
    padding-left: 30px;
    color: #47546c;

    font-size: 12px;
    font-family: "Noto Sans";
    font-weight: 800;
}

.Column{
    width:300px;
}

.Column .Header{
    color: #6c7e99;

    font-family: "Noto Sans";
    font-weight: 600;
    font-size: 15px;
}   

.Column .Row{
    position: relative;
    top: 0px;
    color:#6c7e99;

    font-family: "Noto Sans";
    font-weight: 200;
    font-size: 13px;
}

.Column .Row ul{
    padding-inline-start: 15px;
    margin-block-start: 0px;
}

.Column .Row svg{
    transform: translateY(2px);
}