.PostWrapper{
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 100vw;

    margin-top: 20px;
}

.Posts{
    color: darkgray;
    width: 80vw;
}