.SubHeader{
    width: 100vw;
    height: 50px;
    display: flex;
    
    font-size: 15px;
    font-family: "Noto Sans";
    font-weight: 800;

    background-color: #454f5e;
    color: #efefef;

    align-items: center;
    justify-content: flex-start;
}

.SubHeaderInside{
    margin: 12px;
}