.PostHeader{
    display: flex;

    width: 100vw;
    height: 50px;

    justify-content: center;
    align-items: center;

    background-color: #454f5e;
    color: white;
}

.HeaderWrapper{
    width: 98vw;
}