.preview{
    width:50vw;
}

.previewHeader{
    height: 40px;

    font-size: 24px;
    font-family: "Noto Sans";
    font-weight: 800;

    color:#222831;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.previewContent *{
    margin-top: 0px;
    margin-block-start: 0px;

    margin-block-end: 10px;
    font-family: "Noto Sans";
}

.previewContent h1,
.previewContent h2,
.previewContent h3,
.previewContent h4,
.previewContent h5,
.previewContent h6{
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: darkgray;

    margin-block-end: 15px;
}

.previewContent blockquote{
    border-left-style: solid;
    border-left-color: darkgray;
    border-left-width: 1px;
    color: darkgray;
    padding-left: 10px;

    margin-inline-start: 20px;
}